html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin: 0;
}

#latest-books {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book {
    width: 40%;
    margin: 15px;
    padding: 5px;
}

img {
    width: 100%;
}
